body {
    background-color: #FDE8D8;
}


/* Estilização da Navbar da página do ADM */
/* Navbar Admin com logo */
.admin-navbar {
    background-color: #ff4b1f; /* Igual ao usuário */
}

/* LOGO na navbar */
.logo-admin {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

/* Links da navbar */
.admin-navbar .nav-link {
    color: #fff !important;
    transition: 0.3s;
}

    .admin-navbar .nav-link:hover {
        color: #ffe6d5 !important;
    }

/* Botão de sair */
.btn-outline-light:hover {
    background-color: #fff !important;
    color: #ff4b1f !important;
}




h1 {
    margin-top: 20px;
    color: black;
    font-weight: 600;
}

.container-dashboard {
    margin-top: 30px;
}

.card-admin {
    background: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: .3s;
}

    .card-admin:hover {
        transform: translateY(-6px);
        box-shadow: 0 8px 14px rgba(0,0,0,0.2);
    }

    .card-admin h4 {
        color: #1e3a5f;
    }



/*Estilização da página de cadastro de produtos (FrmProdutos.aspx) no painel administrativo*/



/* Navbar */
.admin-navbar {
    background-color: #FF8A65 !important;
    box-shadow: 0 4px 8px rgba(0,0,0,0.25);
}

/* Cards de cadastro */
.card {
    border-radius: 12px;
    border: none;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* Inputs */
.form-control, .form-select {
    border-radius: 8px;
}

/* Botões CRUD */
.btn-primary {
    background-color: #1e3a5f;
    border: none;
}

    .btn-primary:hover {
        background-color: #274a7a;
    }

.btn-secondary, .btn-success, .btn-warning {
    border-radius: 6px;
}

/* Tabela com os produtos que já foram cadastrados */
.table-hover tbody tr:hover {
    background-color: rgba(30, 58, 95, 0.08);
}

table td img {
    width: 20px;
    transition: .2s;
}

    table td img:hover {
        transform: scale(1.2);
    }

/* Título principal */
h1 {
    color: black;
    font-weight: 600;
}


/* Estilização da tela de pedidos (FrmPedidos.aspx) no painel administrativo*/




h1, h2 {
    color: black;
}

.table {
    border-radius: 8px;
}

.btn-outline-primary {
    border-color: #2196f3;
}

    .btn-outline-primary:hover {
        background-color: #2196f3;
        color: white;
    }



/* Estilização da tela de detalhes dos pedidos (FrmPedidosDetalhes.aspx) no painel administrativo*/



.card-detalhes {
    background: white;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 0 12px rgba(0,0,0,0.25);
    color: #333;
}

.info-area,
.status-area {
    background: #f8f9fa;
    padding: 15px 20px;
    border-radius: 10px;
}

/* Botões */
.btn-area {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

/* GridView */
.table thead {
    background: #e9ecef;
    color: #333;
    font-weight: bold;
}

.table tbody tr:hover {
    background: #f1f1f1;
}



/*Estilização da tela de controle dos usários cadastrados (FrmUsuario.aspx) no painel administrativo*/



.card {
    border: 1px solid #1e3a5f;
}

.table-hover tbody tr:hover {
    background-color: white !important;
}





/*Estilização da tela de controle e cadastro das imagens do caroussel (FrmCaroussel.aspx) no painel administrativo*/

.carousel-page h1 {
    font-weight: 600;
    
}

.carousel-page .card {
    border-radius: 10px;
    background-color: #2b2b2b !important;
}

.carousel-page .table img {
    border-radius: 5px;
    object-fit: cover;
}




